{% extends 'template.html' %}
{% block content %}

       <div class="container">

       <!-- form -->
       <div class="content inside-page lookbook">
              <div class="breadcrumb"><a href="{{url_for('index')}}">Home</a> / Lookbook</div>
              <h2 class="title">Lookbook</h2>
              <div class="row">
              	<div class="col-sm-8 col-sm-offset-2">
              		
              		<div class="product">       		
              		<img src="https://dl.dropboxusercontent.com/u/29338052/static/images/products/11.jpg" class="img-responsive"  alt="product">
              		<div class="info">
              			<h3>White Shirt</h3>
              			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              			<a href="#" class="btn btn-primary">View Collection</a>
              		</div>
              		</div>



              		<div class="product">       		
              		<img src="https://dl.dropboxusercontent.com/u/29338052/static/images/products/10.jpg" class="img-responsive" alt="product">
              		<div class="info">
              			<h3>White Shirt</h3>
              			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              			<a href="#" class="btn btn-primary">View Collection</a>
              		</div>
              		</div>



              		<div class="product">       		
              		<img src="https://dl.dropboxusercontent.com/u/29338052/static/images/products/8.jpg" class="img-responsive" alt="product">
              		<div class="info">
              			<h3>White Shirt</h3>
              			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              			<a href="#" class="btn btn-primary">View Collection</a>
              		</div>
              		</div>



              		<div class="product">       		
              		<img src="https://dl.dropboxusercontent.com/u/29338052/static/images/products/9.jpg" class="img-responsive" alt="product">
              		<div class="info">
              			<h3>White Shirt</h3>
              			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              			<a href="#" class="btn btn-primary">View Collection</a>
              		</div>
              		</div>


              		<div class="product">       		
              		<img src="https://dl.dropboxusercontent.com/u/29338052/static/images/products/8.jpg" class="img-responsive" alt="product">
              		<div class="info">
              			<h3>White Shirt</h3>
              			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              			<a href="#" class="btn btn-primary">View Collection</a>
              		</div>
              		</div>

                            <div class="product">                     
                            <img src="https://dl.dropboxusercontent.com/u/29338052/static/images/products/11.jpg" class="img-responsive" alt="product">
                            <div class="info">
                                   <h3>White Shirt</h3>
                                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                   <a href="#" class="btn btn-primary">View Collection</a>
                            </div>
                            </div>


                            <div class="product">                     
                            <img src="https://dl.dropboxusercontent.com/u/29338052/static/images/products/8.jpg" class="img-responsive" alt="product">
                            <div class="info">
                                   <h3>White Shirt</h3>
                                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                   <a href="#" class="btn btn-primary">View Collection</a>
                            </div>
                            </div>



                            <div class="product">                     
                            <img src="https://dl.dropboxusercontent.com/u/29338052/static/images/products/9.jpg" class="img-responsive" alt="product">
                            <div class="info">
                                   <h3>White Shirt</h3>
                                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                   <a href="#" class="btn btn-primary">View Collection</a>
                            </div>
                            </div>


                            <div class="product">                     
                            <img src="https://dl.dropboxusercontent.com/u/29338052/static/images/products/8.jpg" class="img-responsive" alt="product">
                            <div class="info">
                                   <h3>White Shirt</h3>
                                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                   <a href="#" class="btn btn-primary">View Collection</a>
                            </div>
                            </div>

                            <div class="product">                     
                            <img src="https://dl.dropboxusercontent.com/u/29338052/static/images/products/8.jpg" class="img-responsive" alt="product">
                            <div class="info">
                                   <h3>White Shirt</h3>
                                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                   <a href="#" class="btn btn-primary">View Collection</a>
                            </div>
                            </div>



                            <div class="product">                     
                            <img src="https://dl.dropboxusercontent.com/u/29338052/static/images/products/9.jpg" class="img-responsive" alt="product">
                            <div class="info">
                                   <h3>White Shirt</h3>
                                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                   <a href="#" class="btn btn-primary">View Collection</a>
                            </div>
                            </div>


                            <div class="product">                     
                            <img src="https://dl.dropboxusercontent.com/u/29338052/static/images/products/8.jpg" class="img-responsive" alt="product">
                            <div class="info">
                                   <h3>White Shirt</h3>
                                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                   <a href="#" class="btn btn-primary">View Collection</a>
                            </div>
                            </div>


              	</div>
              </div>

       </div>
       <!-- form -->

       </div>
{% endblock %}