{% extends 'template.html' %}
{% block content %}
	<!-- form -->
	<div class="content inside-page checkout">

	        <h2 class="title center">My collections</h2>


	<div class="row">
	<div class="col-sm-8 col-sm-offset-2 col-xs-12">

	 

	    <!-- multistep form -->
		<form id="msform" role="form">
		<!-- fieldsets -->
		<fieldset>
			<div class="panel panel-default">
			<div class="panel-heading clearfix">Shopping Cart</div>
			<div class="panel-body shopping-cart">
				
				<div class="row product-list title">

	            	<div class="col-xs-1 hidden-xs">No.</div>
	            	<div class="col-xs-2">Posting Date</div>
	            	<div class="col-xs-7">Collection</div>
 	            	<div class="col-xs-1 hidden-xs">Photos</div>
	            	<div class="col-xs-1 center hidden-xs">Action</div>
	          	</div>
                
	          	{% for product in products %}
					<div class="row product-list">
						<div class="hidden-xs col-sm-1">
				           {{ product['number']}}
						</div>
		            	<div class="col-xs-2 col-sm-2">
		            		<a href="product.php">
		            		{{ product['created_date'].strftime('%Y-%m-%d')  }}
		            		</a>
		            	</div>
		            	<div class="col-xs-8 col-sm-7 title">
		            		<a href="{{ url_for('edit_collection',title = product['title'], product_id = product['product_id']) }}">
		            		{{ product['title'] }}
		            		</a>
		            	</div>
	 	            	<div class="col-xs-1 col-sm-1"><input class="form-control" type="text" value="{{product['total']}}"></div>
		            	<div class="col-xs-1 col-sm-1 center"><a href="#"><i class="fa fa-close"></i>	</a>
		            	</div>
		          	</div>

				{%endfor%}

	          	<div class="row product-list grandtotal">
	            	<div class="col-xs-10">Total</div>
	            	<div class="col-xs-1 center price">10</div>            	
	          	</div>




			</div>
			</div>
			<a href="{{url_for('add_collection')}}" class="btn btn-primary pull-right">Add COllection</a>
 			
		</fieldset>
	 
 
		</form>
	</div>




	        
	    </div>    
	</div>
	<!-- form -->

	</div>

{% endblock %}